<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
     <jsp-config>
	<taglib>
    	<taglib-uri>MyTag</taglib-uri>
        <taglib-location>/WEB-INF/lib/MyTag.tld</taglib-location>
    </taglib>
	</jsp-config> 
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>cn.javaee.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/jsp/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signUpServlet</servlet-name>
    <servlet-class>cn.javaee.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUpServlet</servlet-name>
    <url-pattern>/jsp/signUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getSchedule</servlet-name>
    <servlet-class>cn.javaee.controller.GetSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSchedule</servlet-name>
    <url-pattern>/jsp/getSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addScheduleItem</servlet-name>
    <servlet-class>cn.javaee.controller.AddScheduleItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addScheduleItem</servlet-name>
    <url-pattern>/jsp/addScheduleItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateItem</servlet-name>
    <servlet-class>cn.javaee.controller.UpdateItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateItem</servlet-name>
    <url-pattern>/jsp/updateItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteItem</servlet-name>
    <servlet-class>cn.javaee.controller.DeleteItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteItem</servlet-name>
    <url-pattern>/jsp/deleteItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeItemState</servlet-name>
    <servlet-class>cn.javaee.controller.ChangeItemState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeItemState</servlet-name>
    <url-pattern>/jsp/changeItemState</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getScheduleByState</servlet-name>
    <servlet-class>cn.javaee.controller.GetScheduleByState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getScheduleByState</servlet-name>
    <url-pattern>/jsp/getScheduleByState</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getScheduleByMonth</servlet-name>
    <servlet-class>cn.javaee.controller.GetScheduleByMonth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getScheduleByMonth</servlet-name>
    <url-pattern>/jsp/getScheduleByMonth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getScheduleByDay</servlet-name>
    <servlet-class>cn.javaee.controller.GetScheduleByDay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getScheduleByDay</servlet-name>
    <url-pattern>/jsp/getScheduleByDay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCookie</servlet-name>
    <servlet-class>cn.javaee.controller.DeleteCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCookie</servlet-name>
    <url-pattern>/jsp/deleteCookie</url-pattern>
  </servlet-mapping>
</web-app>